//File import
@import "../node_modules/bootstrap/scss/bootstrap";

//Variables
$colors: (
  grey: #B8B8B8,
  grey-light: #C8C8C8,
  grey-dark: #A8A7A7,
  background: #EBE7E7,
  blue-navy: #5976A1
);

//Class Variables
.fill-viewport {
  min-height: 100vh;
}

@include media-breakpoint-up(lg) {
  .basis-lg-50 {
    flex-basis: 50%;
  }
}

.viewport-80 {
  height: 80vh;

  @include media-breakpoint-up(md) {
    height: 40vh;
  }
}

//Functions
@function color($color-name) {   /*color = code function name, $color-name = return function name*/
  @return map-get($colors, $color-name); /*$colors = map name, $color-name return funtion name*/
}

#about-lg {
background-color: color(background);

  .container-fluid {
    @include media-breakpoint-up(lg) {
    padding: 25px 50px 50px 50px;
    }

    h2 {
      font-family: Garamond;
      font-weight: bold;
      color: black;
      font-size: 40px;
      padding: 20px 0px;

      @include media-breakpoint-up(lg) {
        font-size: 60px;
      }
    }

    .my-card {
      margin-bottom: 30px;
    }

      //images
      .image {
        background: url("/img/left-about.jpg") 0% 35%/cover;
        height: 100px;
        object-fit: cover;
        object-position: 0% 35%;

        @include media-breakpoint-up(lg) {
          height: 400px;
        }
      }

      .img2 {
        background: url("/img/middle-about.jpg") 0% 35%/cover;
      }

      .img3 {
        background: url("/img/right-about.jpg") 0% 35%/cover;
      }

      //body and text
      .card-body {
        height: 60px;
        text-align: center;
        overflow: hidden;

        p {
          font-family: Georgia;
          font-size: 18px;
          color: #7e7e7e;
        }

        h5 {
          font-family: Garamond;
          font-weight: bold;
          font-size: 24px;
          color: #393939;
        }

        @include media-breakpoint-up(lg) {
          height: 160px;

          h5 {
            font-size: 28px;
          }

          p {
            display: block;
            font-size: 20px;
            margin-bottom: 10px;
          }

          .read-more {
            font-family: Georgia;
            display: inline;
            color: #5976A1;
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
      .read-more {
        display: none;
      }

      .no-border {
        background: white;
      }

  }
}

@include media-breakpoint-up(lg) {
  .my-card{
    height: 562px;
    display: flex;
    flex-direction: column;

  .image {
    flex: 3;
  }

  .card-body {
    flex: 1;
    transition: flex 0.3s ease-in;
    overflow: hidden;
  }
}

}

//Card Open
  //LG
  .openCard {
    @include media-breakpoint-up(lg) {
      flex: 4 !important;
    }
  }

  //SM
  .openCardSM {
    height: 300px !important;
  }
