//File import
@import "../node_modules/bootstrap/scss/bootstrap";

//Variables
$colors: (
  grey: #B8B8B8,
  grey-light: #C8C8C8,
  grey-dark: #A8A7A7,
  background: #EBE7E7,
  blue-navy: #5976A1
);

//Class Variables
.fill-viewport {
  min-height: 100vh;
}

@include media-breakpoint-up(lg) {
  .basis-lg-50 {
    flex-basis: 50%;
  }
}

.viewport-80 {
  height: 80vh;

  @include media-breakpoint-up(md) {
    height: 40vh;
  }
}

//Functions
@function color($color-name) {   /*color = code function name, $color-name = return function name*/
  @return map-get($colors, $color-name); /*$colors = map name, $color-name return funtion name*/
}

#career {
  background-color: #515151;

    h2 {
      font-family: Garamond;
      font-weight: bold;
      color: white;
      font-size: 40px;

      @include media-breakpoint-up(lg) {
        font-size: 60px;
      }
    }

    p {
      font-family: Georgia;
      color: color(grey);
      font-size: 18px;
    }

    button {
      width: 150px;
      height: 60px;
      background-color: color(blue-navy);
      margin-top: 30px;
      font-family: Garamond;
      font-size: 23px;
      font-weight: bold;
      color: white;
    }

    @include media-breakpoint-up(lg) {
      button:hover {
        background-color: rgba(#416394, 0.92);
      }
    }
    .btn:focus,.btn:active {
     outline: none !important;
     box-shadow: none;
    }
}
