//File import
@import "../node_modules/bootstrap/scss/bootstrap";

//Variables
$colors: (
  grey: #B8B8B8,
  grey-light: #C8C8C8,
  grey-dark: #A8A7A7,
  background: #EBE7E7,
  blue-navy: #5976A1
);

//Class Variables
.fill-viewport {
  min-height: 100vh;
}

@include media-breakpoint-up(lg) {
  .basis-lg-50 {
    flex-basis: 50%;
  }
}

.viewport-80 {
  height: 80vh;

  @include media-breakpoint-up(md) {
    height: 40vh;
  }
}

//Functions
@function color($color-name) {   /*color = code function name, $color-name = return function name*/
  @return map-get($colors, $color-name); /*$colors = map name, $color-name return funtion name*/
}

//STYLESHEET ▼
html {
  scroll-behavior: smooth;
}


//Navigation
nav {
  background-color: #000000;
  min-height: 60px;
  transition: background 0.2s ease-in;

  @include media-breakpoint-up(lg) {
    background-color: transparent;
    height: 80px;
  }

  .navbar-brand {
    color: white;
    font-family: "Times-New-Roman";
    font-weight: bold;
    font-size: 30px;

    @include media-breakpoint-up(lg) {
    color: black;
    font-size: 45px;
    margin: 0 80px 0 20px;
    }
  }

  .navbar-brand:focus, .navbar-brand:active {
    text-decoration: none;
    color: white;
  }

  @include media-breakpoint-up(lg) {
    .navbar-brand:hover {
      color: inherit;
    }
  }


  .navbar1 li {
    @include media-breakpoint-up(lg) {
      margin-right: 15px;
    }
  }


  @include media-breakpoint-up(lg) {
    a {
      color: black !important;
    }
  }

  .navbar-nav li a {
    font-family: Garamond;
    font-weight: bold;
    font-size: 25px;
    color: white;
    transition: color 0.2s ease-in;
  }

  .navbar2 li {
    margin-right: 5px;
  }

  .navbar2 li a {
    font-size: 18px;
  }


  .flagbox {
    margin: 0px 20px 5px 5px;
    width: 25px;
    height: 25px;
  }

  .eng {
    font-family: Garamond;
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none !important;

    @include media-breakpoint-up(lg) {
      margin-left: 20px;
    }
  }

  .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='WHITE' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

//dropdown-menu
.right-menu {
  position: relative;
}

.dd-menu {
  display: none;
  position: absolute;
  background: #cbabab !important;
  width: 120px;
  z-index: 1;
  left: 10px;
  border-radius: 0px 0px 10px 10px;
  border-top: 0;
  padding: 10px;
}

.dd-menu a {
    color: green;
    display: block;
    text-decoration: none !important;
}

.right-menu:hover .dd-menu {
  display: block;
}

.right-menu:hover .eng {
  background: transparent;
}

.flags {
  width: 25px;
  height: 25px;
  margin: 0 0 5px 8px;
}

.cz {
  margin-left: 25px;
}

.ger {
  margin-left: 11px;
}

//JS code
.changeText {
  color: white !important;
  pointer-events: auto !important;
}

.changeBackground {
  background: black !important;
}

// li a[class~=changeText]:hover {
//   color: #cdcdcd !important;
// }

li a:hover {
  color: #cdcdcd !important;
}

//Frontpage image and text

#frontpage {
  background: url("../img/frontpage.jpg") center/ cover;

  @include media-breakpoint-up(lg) {
  background-size: 2500px;
  background-repeat: no-repeat;
  background-position:55% 70%;
  }

    div .imgbox {
       margin-top: 30%;

         @include media-breakpoint-up(md) {
          margin: 30% 0 40% 0;
        }

         @include media-breakpoint-up(lg) {
          margin: 0 0 0 30px;
        }

      h1 {
        font-family: Garamond;
        line-height: 55px;

          @include media-breakpoint-up(md) {
            font-size: 80px;
            line-height: 80px;
            margin-bottom: 20px;
          }

          @include media-breakpoint-up(lg) {
            font-family: Garamond;
            font-weight: bold;
            font-size: 110px;
            line-height: 110px;
          }
      }

      p {
        font-family: Georgia;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 28px;
      }

      button {
        background-color: white;
        width: 180px;
        height: 55px;
        font-family: "Times-New-Roman";
        font-size: 25px;
        font-weight: bold;
        border: 1px solid #2e2e2e;

        @include media-breakpoint-up(lg) {
          width: 200px;
          height: 60px;
        }
      }
      @include media-breakpoint-up(lg) {
        button:hover {
          background-color: black;
          color: white;
        }
      }
    }

    .btn:focus,.btn:active {
     outline: none !important;
     box-shadow: none;
    }
}
